.card-group-c{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.card-group-c .card-c{
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 10px 10px 14px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 14px -17px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 14px -17px rgba(0,0,0,0.75);  
}
.card-group-c .card-c a{
  color: #111111;
  text-decoration: none;
}
